Semana 1/asignacionMultiple.py
Semana 1/calcularImc.py
Semana 1/ejemploCadena.py
Semana 1/ejemploFor.py
Semana 1/ejemploFuncion2.py
Semana 1/ejemploFunciones.py
Semana 1/ejemploIF.py
Semana 1/ejemploInput.py
Semana 1/ejemploInputElse.py
Semana 1/ejemploVariables.py
Semana 1/ejemploWhile.py
Semana 1/HolaMundo.py
Semana 1/operaciones.py
Semana 1/operacionesConInput.py
Semana 1/operadoresLogicos.py
Semana 1/Reto1.py
Semana 1/testModuloAritmetica.py
Semana 1/validar3Numeros.py
Semana 1/validarVocaloConsonante.py
Semana 1/variables.py
Semana 1/Modulos/moduloAritmetica.py
